<html>
  <head>
    <title>VideoKen</title>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 dash-block grey">
          hello
        </div>
        <div class="col-md-6 dash-block">
          hello 2
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 dash-block">
          hello 3
        </div>
        <div class="col-md-6 dash-block grey">
          hello 4
        </div>
      </div>
    </div>
  </body>
</html>
