<html>
  <head>
    <title>

    </title>
  </head>

  <body>
    <div class="server-down">
      <div class="error-message">
        Server Down....We are working to resolve the Issue !!
      </div>
      <div class="server-down-icon">
        <img src="images/server-down.png">
      </div>
    </div>
  </body>
</html>
